@import '../../styles/variables.scss';
.paginationAntd {
  margin-top: 20px;
  margin-bottom: 20px;

  &.light {
    a,
    .ant-pagination-item-link,
    .ant-pagination-item-ellipsis {


      color: var(--light-text-color);


    }
  }

  &.dark {
    a,
    .ant-pagination-item-link,
    .ant-pagination-item-ellipsis {

      color: var(--dark-text-color) !important;

    }

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {


      background: var(--dark-bg-color);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--hover-dark-color);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--hover-light-color);


    }
  }

  & .ant-pagination-item {
    border-radius: 0;
    border: 1px solid var(--border-light-color);
    min-width: 40px;
    height: 40px;
    &-active {

      background-color: var(--primary-color);

      & a {
        color: var(--light-bg-color);
      }
    }
  }

  & .ant-pagination-next a:hover,
  & .ant-pagination-prev a:hover {
    color: #605252a1;
  }

  & .ant-pagination-next a[disabled]:hover,
  & .ant-pagination-prev a[disabled]:hover {
    color: rgba(0, 0, 0, 0.25);
  }
}
