@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/400-italic.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4797ff;
  --hover-light-color: #d3efff;
  --hover-dark-color: #83898c;
  --dark-bg-color: #1a1a1a;
  --light-text-color: #213547;
  --light-bg-color: #ffffff;
  --dark-text-color: rgb(177, 162, 162);
  --focus-outline-color: -webkit-focus-ring-color;
  --border-light-color: #dedede;
  --button-light-bg-color: #f9f9f9;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--hover-light-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 0.25rem auto var(--focus-outline-color);
}

body.light {
  color: var(--light-text-color);
  background-color: var(--light-bg-color);
}

body.light a:hover {
  color: var(--primary-color);
}

body.dark {
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}

body.dark a:hover {
  color: var(--hover-dark-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text-color);
    background-color: var(--light-bg-color);
  }

  a:hover {
    color: var(--primary-color);
  }

  button {
    background-color: var(--button-light-bg-color);
  }
}

.ant-select-item:not(:last-child) {
  border-bottom: 1px solid var(--border-light-color);
}
