@import './variables.scss';

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/400-italic.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto';
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--hover-light-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 0.0625rem solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 0.25rem auto var(--focus-outline-color);
}

body.light {
  color: var(--light-text-color);
  background-color: var(--light-bg-color);
}

body.light a:hover {
  color: var(--primary-color);
}

body.dark {
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}

body.dark a:hover {
  color: var(--hover-dark-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text-color);
    background-color: var(--light-bg-color);
  }

  a:hover {
    color: var(--primary-color);
  }

  button {
    background-color: var(--button-light-bg-color);
  }
}

.ant-select-item:not(:last-child) {
  border-bottom: 1px solid var(--border-light-color);
}
