:root {
  --primary-color: #4797ff;
  --hover-light-color: #d3efff;
  --hover-dark-color: #83898c;
  --dark-bg-color: #1a1a1a;
  --light-text-color: #213547;
  --light-bg-color: #ffffff;
  --dark-text-color: rgb(177, 162, 162);
  --focus-outline-color: -webkit-focus-ring-color;
  --border-light-color: #dedede;
  --button-light-bg-color: #f9f9f9;

  --box-shadow-color: #a3a3a3;
  --container-bg-color: #445ebd;
  --container-color: #ffffff;
  --dark-theme-bg-color: #3b3a3a;
  --button-bg-color: #ffffff;
  --button-text-color: #006fff;
  --button-hover-bg-color: #e7e7e7;
  --button-hover-text-color: #008cff;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
